.years-clients-quality-background{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #0d73f5;
    color: white;
    padding-top: 2em;
    padding-bottom: 1em;
}

.years-card{
    margin-left: 35%;
    margin-right: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.year-card-number{
    font-size: larger;
    font-weight: bolder;
}