.reviews{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.review-card{
    margin: 0px 1em;
}

.reviews-explore-button-div{
    margin-top: 3em;
}